# === Android / Gradle ===
.gradle/
**/build/
**/captures/
**/outputs/
**/generated/
**/.cxx/
local.properties
*.iml
.idea/
.DS_Store

# Keystore & secrets
*.jks
*.keystore
keystore.properties

# Logs
*.log

# Native / external
.externalNativeBuild/
.cxx/

# Packages
*.apk
*.aab
